argcomplete==1.10.0
attrs==19.1.0
boto3==1.9.210
botocore==1.12.210
certifi==2019.6.16
cfn-flip==1.2.1
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreschema==0.0.4
dill==0.3.0
Django==2.2.4
django-filter==2.2.0
django-filters==0.2.1
django-jet==1.0.8
django-rest-swagger==2.2.0
django-sendsms==0.3.1
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
docutils==0.15.2
drf-yasg==1.16.1
durationpy==0.5
future==0.17.1
hjson==3.0.1
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.2
kappa==0.7.0
lambda-packages==0.20.0
MarkupSafe==1.1.1
mysqlclient==1.4.4
openapi-codec==1.3.2
Pillow==6.1.0
placebo==0.9.0
PyJWT==1.7.1
pyrsistent==0.15.4
PySocks==1.7.0
python-dateutil==2.8.0
python-slugify==3.0.3
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
s3transfer==0.2.1
sendsms==0.2.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
swagger-spec-validator==2.4.3
text-unidecode==1.2
toml==0.10.0
tqdm==4.34.0
troposphere==2.5.0
twilio==6.29.3
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.25.3
Werkzeug==0.15.5
wsgi-request-logger==0.4.6
